.comentarios {
    color: #8da0bc;
    background-color: #080f28;
}

.title2 {
    font-size: 1.4rem;
    font-weight: 700;
}

.bgCardHeader, .bgComment {
    background: #2d3760;
}

.comment__button {
    display: inline-block;
    text-decoration: none;
    padding-top: 0.5rem;
    padding-left: 2rem;
    padding-bottom: 0.5rem;
    padding-right: 2rem;
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: 1rem;
    /* background-color: #2D3760; */
    background-color: #007aff;
    opacity: 0.9;
}

.comment__button:hover {
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}