.card {
    border: 1px solid #B37400;
}

.title2 {
    font-size: 2rem;
    font-weight: 700;
}

.bgCardHeader, .bgComment {
    background: #004FB3;
    color: #FFF;
}

.comment__button {
    display: inline-block;
    text-decoration: none;
    padding-top: 0.5rem;
    padding-left: 2rem;
    padding-bottom: 0.5rem;
    padding-right: 2rem;
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: 1rem;
    background-color: #FFAF19;
    opacity: 0.9;
}

.comment__button:hover {
    color: #212529;
    transition: all 0.2s;
}