* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* width: 100%; */
	font-family: 'Montserrat', sans-serif;
	background-color: #080F28 !important;
	/* background: #070707 !important; */
	color: #F5F5F5 !important;

}

body::-webkit-scrollbar {
	display: none;
}

.header {
	display: flex;
	justify-content: space-between !important;
	column-gap: 10vh;
	width: 100% !important;
	background-color: #100a1f;
	color: white;
	font-size: 1.3rem;
	font-weight: 500;
	padding: 10px;
	align-items: center;
	/*position: fixed;*/
}

.footer {
	display: flex;
	justify-content: space-around !important;
	width: 100%;
	background-color: #100a1f;
	color: white;
	font-size: 1.8rem;
	font-weight: 500;
	padding: 10px;
	align-items: start !important;
	row-gap: 10vh !important;
}

.contacto {
	display: flex;
	flex-direction: column;
	row-gap: 22px;

}

.logoredes {
	width: 32px;
	height: 32px;
	margin-right: 3rem;
}

.logoreacflix {
	width: 10rem;
	height: 8rem;
}

.links {
	color: inherit;
	text-decoration: inherit;
}

.active {
	text-decoration: underline !important;
}

.contacto div {
	display: flex;
	column-gap: 0.5rem;
	align-items: center;
}

.fonticon {
	font-size: 1.5rem;
	margin-right: 1rem;
}

.contacto p {
	margin-bottom: 0px;
}



.nuestroequipo p {
	font-size: 1.8rem !important;
	margin: 0px !important;
	display: inline;
	font-weight: 500 !important;
}

button.nuestroequipo {
	padding: 0 !important;
	margin-top: 0px !important;


}

.nuestroequipo {
	background-color: #100a1f !important;
	height: 1.3rem !important;
	border: none !important;
}

.headertitulos {
	display: flex;
	justify-content: space-around !important;
	font-size: 1.8rem;
	font-weight: 500;
	width: 100% !important;
	row-gap: 20px;
}

.navbar-toggler span {
	filter: invert(100%);
}

.hamburgernav {
	display: flex;
	justify-content: center !important;
}

.banner__button {
	font-size: 1.8rem;
}

.footer ul a {
	font-size: 1.4rem !important;
	color: white;
}

.footer ul {
	background-color: rgb(14, 14, 14);
}

/* media queries */
@media screen and (max-width: 767px) {


	.headertitulos {
		font-size: 1.4rem;
	}

	.footer {
		font-size: 1.4rem;
		row-gap: 1rem !important;
		flex-direction: column !important;
		align-items: center !important;
		padding-bottom: 3rem;
	}

	.nuestroequipo p {
		font-size: 1.4rem !important;
	}

	.contacto {
		row-gap: 0.3rem !important;
		align-items: center !important;
	}

}