* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* width: 100%; */
	font-family: 'Montserrat', sans-serif;
	background-color: #080F28 !important;
	/* background: #070707 !important; */
	color: #F5F5F5 !important;

}

body::-webkit-scrollbar {
	display: none;
}

.header {
	display: flex;
	justify-content: space-around;
	width: 100%;
	background-color: #100a1f;
	color: white;
	font-size: 1.3rem;
	font-weight: 500;
	padding: 10px;
	align-items: center;
	/*position: fixed;*/
}

.footer {
	display: flex;
	justify-content: space-around;
	width: 100%;
	background-color: #100a1f;
	color: white;
	font-size: 1.3rem;
	font-weight: 500;
	padding: 10px;
	align-items: start !important;

}

.contacto {
	display: flex;
	flex-direction: column;
	row-gap: 22px;

}

.logoredes {
	width: 32px;
	height: 32px;
	margin-right: 3rem;
}

.logoreacflix {
	width: 10rem;
	height: 8rem;
}

.links {
	color: inherit;
	font-size: 1.4rem;
	text-decoration: inherit;
}

.contacto div {
	display: flex;
	column-gap: 0.5rem;
	align-items: center;
}

.fonticon {
	font-size: 1.5rem;
	margin-right: 1rem;
}

.contacto p {
	margin-bottom: 0px;
	font-size: 1.2rem;
}

.nuestroequipo p {
	font-size: 1.3rem !important;
	margin: 0px !important;
	display: inline;
	font-family: 'Montserrat', sans-serif !important;
	font-weight: 500 !important;
}

button.nuestroequipo {
	padding: 0 !important;
	font-family: 'Montserrat', sans-serif !important;

}

.nuestroequipo {
	background-color: #100a1f !important;
	height: 1.3rem !important;
	border: none !important;
}